*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #000000;
    color: white;
}
nav
{
    background-color: #111111;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}
nav a, nav a:visited
{
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 1.2em;
}
nav a:hover
{
    border-bottom: 2px solid white;
}
section#home
{
    margin-top: 30px;
}
section#home h1
{
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}
section#home div.home
{
    display: flex;
    flex-direction: row;
}
section#home div.home div.details
{
    width: 50%;
    padding: 20px;
}
section#home div.details h2
{
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 1.7em;
}
section#home div.details p
{
    line-height: 3;
    font-size: 1.3em;
}
section#home div.details img
{
    width: 100%;
    height: 100%;
}
section#skills h1, section#projects h1
{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7em;
    margin-top: 70px;
    margin-bottom: 20px;
}
section#skills div.languages
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
section#skills div.languages > div.language
{
    border: 2px solid purple;
    border-radius: 10px;
    display: flex;
    padding: 30px;
    margin: 10px;
    width: fit-content;
    flex-basis: 27%;
}
section#skills div.language i
{
    font-size: 4em;
}
section#skills div.language p
{
    align-self: center;
    padding: 10px;
}
section#projects div.projects
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 25%;
}
section#projects div.projects > div.project
{
    border: 2px solid rgb(26, 26, 26);
    border-radius: 10px;
    flex-basis: 22%;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
}
section#projects div.projects > div.project i
{
    font-size: 3.5em;
    padding: 12px;
}
section#projects div.projects > div.project p
{
    font-size: 1.2em;
    line-height: 1.5;
}
section#projects div.projects > div.project a, section#projects div.projects > div.project a:visited
{
    border: 2px solid white;
    color: inherit;
    max-width: 100%;
    max-height: 100%;
    padding: 14px 25px;
    border-radius: 10px;
    margin-left: 2px;
    font-family: Georgia, serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
section#projects div.projects > div.project a:hover
{
    color: indigo;
}
footer
{
    position: sticky;
    background-color: #111111;
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 700px)
{
    nav
    {
        justify-content: center;   
    }
    section#home div.home div.details
    {
        width: 100%;
    }
    section#home div.details h2
    {
        text-align: center;
    }
    section#home div.home, section#skills div.languages, section#projects div.projects
    {
        flex-direction: column;
    }
    section#skills div.languages > div.language, section#projects div.projects > div.project
    {
        margin: 0px auto;
        width: 80%;
        margin-top: 15px;
    }
}